#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  //h1 {
  //  font-size: 40px;
  //}
  //h2 {
  //  font-size: 30px;
  //}
  //h3 {
  //  font-size: 20px;
  //}
  h4 {
    font-size: 18px;
  }
}

#nav {
  padding-top: 15px;
  height:35px;
  width:100%;
  color: #000000;
  position:fixed;
  z-index:999;
  top:0;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 #777;
  box-shadow: 0 1px 2px 0 #777;
  background-color:#eeeeee;
  opacity: 0.7;

  span {
    font-weight: bold;
    color: #2c3e50;
  }
  span:hover {
    font-weight: bolder;
    color: #42b983;
  }
}

/* background colors */
#home {
}
#resume {
  background-color: #eeeeee;
}
#experience {

}
#portfolio {
  background-color: #eeeeee;
}
#about {

}

/* pc */
@media only screen and (min-width: 769px) {
  .content {
    padding: 40px;
  }

  #home {
    padding: 50px 0 8px 0;
  }
  .left-space {
    padding-left: 15px;
  }

}

/* mobile */
@media only screen and (max-width: 768px){
  .content {
    padding: 20px;
  }

  #home {
    margin: 80px 20px 20px 20px;
  }
  .left-space {
    padding-left: 10px;
  }
}

/* card */
.card {
  background-color: #ffffff;
  padding: 15px;
  margin: 30px 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  //border: 1px solid #000000;
}

.portfolio-box {
  padding: 10px 30px 20px 30px;

  .project-title {
    font-size: 30px;
  }
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  .techs {
    font-size: 18px;
  }
}

#about {
  .description {
    font-size: 20px;
    margin: 30px;
  }

  .email {
    padding: 40px 0;
    font-size: 40px;
    font-weight: bold;
  }
}

.tag-box {
  background-color: #797979;
  border-radius: 6px;
  color: #eeeeee;
  font-weight: bold;
  padding: 0 15px;
  margin: 0 5px 8px 0;
  display: inline-block;
}
